<div id="flightInfo">
  Textarea view should load here
</div>

<script id="reservationViewTemplate" type="html/template">
  <form>
    <input type="text" id="from" placeholder="from">
    <input type="text" placeholder="to" id="to">

    <button type="submit" class="waves-effect waves-light btn">Submit</button>
  </form>
</script>
